---
import Layout from "@/layouts/Layout.astro";
import OrderForm from "@/components/OrderForm";
---

<Layout>
  <main class="mx-auto max-w-6xl p-6">
    <OrderForm client:load />
  </main>
</Layout>
